<form #registerForm="ngForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>
  <div class="form-group">
    <input type="text" class="form-control" required name="model.username" [(ngModel)]="model.username"
      placeholder="User Name">
  </div>
  <div class="form-group">
    <label for="favouriteValue">What is your favourite Value?</label>
    <select id="favouriteValue" class="form-control">
      <option *ngFor="let value of valuesFromHome" [value]="value">{{value.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <input type="password" class="form-control" required name="model.password" [(ngModel)]="model.password"
      placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
  <button type="button" class="btn" (click)="cancel()">Cancel</button>
</form>
